.App-logo {
  height: 7vmin;
  margin-left: auto;
}

.weatherCloud {
  display: flex;
  padding-right: 5px;
}


body {
background-image: url('https://github.com/karapk/covfefeShop/blob/main/Coffee%20bag.jpeg?raw=true');
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
}

h1, h3 {
background-color: #4e342e86;
color: white !important;
}

.navbar {
background: #4e342e;
}

.navbar-text {
font-size: 1.25rem;
font-weight: bold;
flex-grow: 1;
text-align: center;
}

footer {
background: #4e342e;
padding: 20px 0;
}

.card {
transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
transform: scale(1.05);
box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.btn-outline-secondary {
transition: background-color 0.2s, color 0.2s;
}

.btn-outline-secondary:hover {
background-color: #6c757d;
color: white;
}

.container {
margin-top: 7px;
}

.card img {
height: 200px;
object-fit: cover;
}

.shopping-cart {
position: fixed;
right: 0;
top: 0;
width: 300px;
height: auto;
background: rgba(160, 98, 39, 0.844);
border-left: 1px solid #ccc;
padding: 20px;
box-shadow: -2px 0 5px rgba(0,0,0,0.3);
transform: translateX(100%);
transition: transform 0.3s ease-in-out;
z-index: 10;
}

.shopping-cart.visible {
transform: translateX(0);
}

.shopping-cart-header {
display: flex;
justify-content: space-between;
align-items: center;
}

.shopping-cart-total {
margin-top: 20px;
font-size: 1.25rem;
font-weight: bold;
}

.close-cart {
background: none;
border: none;
font-size: 1.5rem;
cursor: pointer;
}

.list-group-item {
display: flex;
justify-content: space-between;
align-items: center;
}